<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKQGW2b9CZiOHfefnqNsePwopyyCnKEvo</string>
	<key>GCM_SENDER_ID</key>
	<string>669346986878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doapp.store.vilong2</string>
	<key>PROJECT_ID</key>
	<string>doapp-for-store-7</string>
	<key>STORAGE_BUCKET</key>
	<string>doapp-for-store-7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669346986878:ios:a55deca1ae56468797912f</string>
</dict>
</plist>